<div class="options-container">
  <button class="back-btn" mat-raised-button [routerLink]="['/home']">Back</button>
  <h2>Based on your location, here are your boyfriend options.</h2>
  <div class="options-list">
    <div>
      <img class="images" src="../../assets/images/profile-pic.jpg" (click)="confirmSelection('profile-pic')">
      <p>Nick Morin Age: 23</p>
    </div>
    <div>
      <img class="images" src="../../assets/images/personal-pic.jpg" (click)="confirmSelection('personal-pic')">
      <p>Nick Morin Age: 23</p>
    </div>
    <div>
      <img class="images" src="../../assets/images/IMG_0090.jpg" (click)="confirmSelection('IMG_0090')">
      <p>Nick Morin Age: 23</p>
    </div>
    <div>
      <img class="images" src="../../assets/images/personal-pic2.jpg" (click)="confirmSelection('personal-pic2')">
      <p>Nick Morin Age: 23</p>
    </div>
  </div>
</div>
