h1, h2 {
    text-align: center;
}

.home-page-container {
    margin: 20px;
}

.welcome-text {
    text-align: center;
    font-size: 20px;
}

.gender-btn-container {
    text-align: center;
}

.female-err-msg {
    margin: 20px;
    font-size: 20px;
    text-align: center;
}